<div class="character" role="button" {{on "click" this.onClick}}>
  <div class="id">{{id}}</div>
  <div class="_id">{{this._id}}</div>
  <div class="name">{{this.name}}</div>
  <div class="title">{{this.title}}</div>
  <div class="formal-name">{{this.formalName}}</div>
  <div class="tunic">{{this.tunic}}</div>
  <div class="hearts">{{this.hearts}}</div>
  <div class="level">{{this.level}}</div>
</div>